<!DOCTYPE html>
<html lang="en">
<head>
        <meta   charset="UTF-8">
        <meta   name="viewport"
                content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>VK API</title>
        <!-- Bootstrap CSS -->
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div class="container">
        <!--Ввод данных-->
        <!--Имена переменных совпадают с наименованиями данных, получаемых с сервера-->
        <!--Одно поле-->
	<% const items = [{name: 'name', title: 'Имя'},{name: 'surname', title: 'Фамилия'},{name: 'firstname', title: 'Отчество'},
                        {name: 'company', title: 'Место работы'},{name: 'country', title: 'Страна'}]; %>
        <!--Несколько полей-->
        <% const items_list = [['День рождения', {name: 'birth_day', title: 'День'}, {name: 'birth_month', title: 'Месяц'}, {name: 'birth_year', title: 'Год'}],
                                ['Возраст', {name: 'age_from', title: 'От'}, {name: 'age_to', title: 'До'}]]; %>

        <div class="row">
            <div class="col">
                <div class="alert alert-primary" role="alert">
                  Задача поиска людей в интеренете была выполнена частично. C помощью использования API Vkontakte.
                  Дальнейшее развитие задачи можно сделать с использованием  других популярных социальных сетей и API Google.
                  <br><br>Работоспособность можно проверить в своем браузере, при наличии подключения к сети.
                  <br>Либо посмотреть исходный код на <a href="https://github.com/lazaryan/vk_api">Github</a>
                  <br>Протестировать онлайн на <a href="https://lazaryan.github.io/vk_api/">Github Pages</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="card" id="js-get_data">
                    <div class="card-header">Внесите данные</div>
                    <div class="card-body">
                        <div class="data" id="js-data">
                            <% items.forEach((item) => { %>
                                <div class="form-group js-list__item">
                                    <input type="text" data-name="<%=item.name%>" id="<%=item.name%>" class="form-control form-control-sm js-data" placeholder="<%=item.title%>">
                                </div>
                            <% }); %>

                            <div class="form-group js-list__item _none" id="js-city">
                                <input type="text" data-name="city" id="city" class="form-control form-control-sm js-data" placeholder="Город">
                            </div>
                            <% items_list.forEach((items) => { %>
                                <div class="form-group">
                                    <label><%=items[0]%></label>
                                    <div class="row js-list__item">
                                        <% for(let i = 1; i < items.length; i++) { %>
                                            <div class="col">
                                                <input type="text" data-name="<%=items[i].name%>" id="<%=items[i].name%>" class="form-control form-control-sm js-data"  placeholder="<%=items[i].title%>">
                                            </div>
                                        <%} %>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                        <button class="btn btn-primary" id="js-get_list">Получить</button>
                    </div>
                </div>
            </div>

            <!--Список пользователей вк, подходящих критерию-->
            <div class="col-sm-4">
                <div class="list-people card">
                    <div class="card-header">Результат поиска</div>
                    <div class="card-body">
                        <div class="data" id="data-peoples"></div>
                    </div>
                </div>
            </div>
            <!--Полученные данные-->
            <div class="col-sm-4">
                <div class="information card">
                    <div class="card-header">Данные пользователя</div>
                    <div class="card-body">
                        <div class="data" id="data-info"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--библиотека JQuery-->
    <script type="text/javascript" src="js/jquery.js"></script>
    <!--Для работы с vk api-->
    <script type="text/javascript" src="https://vk.com/js/api/xd_connection.js?2"></script>
    <!--Мои методы-->
    <script type="text/javascript" src="js/my_vk.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
