<!DOCTYPE html>
<html lang="en">
<head>
        <meta   charset="UTF-8">
        <meta   name="viewport"
                content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta   http-equiv="X-UA-Compatible"
                content="ie=edge">

        <title>VK API</title>

        <link rel="stylesheet" type="text/css" href="css/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>
<body>
        <!--Ввод данных-->
        <!--Имена переменных совпадают с наименованиями данных, получаемых с сервера-->
        <!--Одно поле-->
        <% const list = [{name: 'q', text: 'Имя пользователя'}, {name: 'company', text: 'Место работы'},
        {name: 'interests', text: 'Интересы'}, {name: 'position', text: 'Должность'}, {name: 'country', text: 'Страна'}]; %>
        <!--Несколько полей-->
        <% const list2 = [{name: 'Возраст', context: [{text: 'от', name: 'age_from'}, {text: 'до', name: 'age_to'}]},
        {name: 'День рождения', context: [{text: 'дд:', name: 'birth_day'}, {text: 'мм:', name: 'birth_month'}, {text: 'гггг:', name: 'birth_year'}]}]; %>
        <div class="get_data fill_display" id="js-get_data">
                <div class="message">
                        <h3 class="message_text">Внесите данные</h3>
                </div>
                <div class="data" id="js-data">
                    <% list.forEach((item) =>{%>
                        <div class="list__item js-list__item">
                            <label class="name-item" for="<%=item.name%>" data-value="<%=item.name%>">
                                <%=item.text%>
                            </label>
                            <input type="text" id="<%=item.name%>" class="name-item_enter">
                        </div>
                    <% }); %>
                    <div class="list__item js-list__item _none" id="js-city">
                        <label class="name-item" for="city" data-value="city">
                                Город
                        </label>
                       	<input type="text" id="city" class="name-item_enter">
                    </div>
                    <% list2.forEach((item) =>{ %>
                        <div class="list__item">
                            <div class="name-item">
                                <%=item.name%>
                            </div>
                            <div class="list__item_input js-list__item">
                                <% item.context.forEach((item2) => {%>
                                    <div class="list__item_input-i">
                                        <label class="name-item2" for="<%=item2.name%>" data-value="<%=item2.name%>">
                                            <%=item2.text%>
                                        </label>
                                        <input type="text" id="<%=item2.name%>" class="name-item2_enter">
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                    <% }); %>
                </div>
                <div class="get-list">
                        <button class="get" id="js-get_list">Получить</button>
                </div>
        </div>
        <!--Полученные данные-->
        <div class="information fill_display">
            <div class="message">
                <h3 class="message_text">Данные пользователя</h3>
            </div>
            <div class="data"></div>
        </div>
        <!--Список пользователей вк, подходящих критерию-->
        <div class="list-people fill_display">
            <div class="message">
                <h3 class="message_text">Результат поиска</h3>
            </div>
            <div class="data"></div>
        </div>
        <!--библиотека JQuery-->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <!--Для работы с вк-->
        <script type="text/javascript" src="https://vk.com/js/api/xd_connection.js?2"></script>
        <!--Мои методы-->
        <script type="text/javascript" src="js/my_vk.min.js"></script>
        <script type="text/javascript" src="js/main.min.js"></script>
</body>
</html>
